In [4]:
# pip install pytest

In [5]:
import pandas as pd
import pytest
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
load_dotenv()

True

In [6]:
source_db = create_engine(f"mysql+pymysql://root:password@127.0.0.1:3306/reliance")

In [48]:
def client_data_load(source_db, source_table, destination_db,destination_table):
    source_db = create_engine(os.getenv('SOURCE_DB_CONN'))
    # source_db = create_engine(f"mysql+pymysql://root:password@127.0.0.1:3306/reliance")
    
    # Connect to the destination database
    #destination_db = os.environ.get('DEST_DB_CONN')
    destination_db = create_engine(os.getenv('DEST_DB_CONN'))
    # destination_db = create_engine(f"mysql+pymysql://root:rootpassword@127.0.0.1:33061/stg_reliance")

    # read data from source tables
    tablename = 'client'
    client_df = pd.read_sql_table(tablename, source_db)

    # mask PII
    pii_columns = ['email_address', 'name' , 'address', 'phone_number']
    client_df[pii_columns] = client_df[pii_columns].applymap(lambda x: x[0:2] + '*' * (len(x) -3) + x[-1:])

    #add insert timestamp
    client_df['insert_time'] = pd.Timestamp.now()

    # insert into destination database
    client_df.to_sql('client', con=destination_db, if_exists='replace', index=False)

    source_count = pd.read_sql_query(f'SELECT COUNT(*) FROM {tablename}', source_db)
    dest_count = pd.read_sql_query(f'SELECT COUNT(*) FROM client', destination_db)
# print('Data from client inserted successfully at '+ str(pd.Timestamp.now()))
    # return (len(client_df))
# print({source_db} + 'from client inserted successfully at '+ str(pd.Timestamp.now()))
print (client_data_load())

TypeError: client_data_load() missing 4 required positional arguments: 'source_db', 'source_table', 'destination_db', and 'destination_table'

In [45]:
#unit testing the pipeline
# if __name__ == '__main__':
def test_client_data_load():
    source_table = 'client'
    destination_table = 'client'
    source_db = create_engine(os.getenv('SOURCE_DB_CONN'))
    destination_db = create_engine(os.getenv('DEST_DB_CONN'))
    

    client_data_load(source_db, source_table, destination_db, destination_table)

    dest_df= pd.read_sql_table(destination_table,destination_db)
    pii_columns = ['email_address', 'name' , 'address', 'phone_number']
    
    #check that table destination is not empty
    assert len(dest_df)>1

    #check that PII is corrrectly masked
    # for col in ['email_address', 'name' , 'address', 'phone_number']:
    #     assert dest_df[col].str.contains('\*\*\*').all()
# test_client_data_load()

if __name__ == '__main__':
    test_client_data_load()
    pytest.main([__file__])

TypeError: client_data_load() missing 1 required positional argument: 'destination_table'

In [38]:
    for col in ['email_address', 'name' , 'address', 'phone_number']:
        assert dest_df[col].str.contains('\*\*\*').all()

NameError: name 'dest_df' is not defined

In [ ]:
def enrollee_data_load():
    #source_conn = os.environ.get('SOURCE_DB_CONN')
    source_db = create_engine(f"mysql+pymysql://root:password@127.0.0.1:3306/reliance")

    # Connect to the destination database
    #destination_conn = os.environ.get('DEST_DB_CONN')
    destination_db = create_engine(f"mysql+pymysql://root:rootpassword@127.0.0.1:33061/stg_reliance")

    # read data from source tables
    enrollee_df = pd.read_sql_table('enrollee_profile', source_db)

    # mask PII
    pii_columns = ['home_phone_number', 'hmo_id' , 'home_phone_number']
    enrollee_df[pii_columns] = enrollee_df[pii_columns].applymap(lambda x: x[0:2] + '*' * (len(x) -3) + x[-1:])

    #add insert timestamp
    enrollee_df['insert_time'] = pd.Timestamp.now()

    # insert into destination database
    enrollee_df.to_sql('enrollee_profile', con=destination_db, if_exists='replace', index=False)
print('Enrollee profile data inserted successfully at '+ str(pd.Timestamp.now()))

In [ ]:
# unit tests using pytest
def test_copy_data():
    enrollee_data_load()  # test that the function runs without raising any errors
    # add additional tests to verify that the data was copied correctly
    destination_db = create_engine(f"mysql+pymysql://root:rootpassword@127.0.0.1:33061/stg_reliance")
    masked_df = pd.read_sql_table('client', destination_db)
    assert len(masked_df) == 1000  # check that the number of rows is correct
    assert masked_df['name'][0] == '***Doe'  # check that the PII was masked
if __name__ == '__main__':
    pytest.main()

In [ ]:
source_db.dispose()

In [ ]:
#source_conn = os.environ.get('SOURCE_DB_CONN')
source_db = create_engine(f"mysql+pymysql://root:password@127.0.0.1:3306/reliance")

# Connect to the destination database
#destination_conn = os.environ.get('DEST_DB_CONN')
destination_db = create_engine(f"mysql+pymysql://root:rootpassword@127.0.0.1:33061/stg_reliance")

In [50]:
# read data from source tables
enrollee_df = pd.read_sql_table('enrollee_profile', source_db)
client_df = pd.read_sql_table('client', source_db)

client_df
# enrollee_df

,id,name,short_code,phone_number,email_address,logo_url,address,state_id,industry_id,created_by,...,previous_hmo_name,was_lead_via_crm,lead_source,monnify_account_reference,monnify_account_number,monnify_account_name,monnify_bank_name,created_at,updated_at,active_status
0,1,eos,samo,+56(0)430367880,mante.shanel@example.net,http://breitenbergstamm.biz/,"81401 Corwin Causeway New Kaylastad, TX 30731-...",7037,9,7,...,incidunt,0,,,,,,1985-04-09 05:36:46,2007-04-16 03:38:56,3
1,2,quasi,vlwo,(822)768-5080x9,xparker@example.net,http://ondricka.com/,"73385 Alexa Road East August, MI 01976",0,2,4,...,porro,0,,,,,,2002-07-11 16:26:20,1997-03-30 07:58:41,5
2,3,qui,ampc,(434)077-0289x8,winston.goldner@example.net,http://bernier.com/,"848 Stamm Pines Candidoport, AL 05752",35751606,5,4,...,facilis,0,,,,,,1994-07-04 03:14:50,2012-09-22 12:18:27,0
3,4,sed,afyc,024.670.4995,asia.morar@example.com,http://armstrong.info/,"0987 Lowe Spring West Nya, VT 52344-1875",347,5,2,...,modi,0,,,,,,2000-09-13 10:38:41,1988-11-08 17:58:33,5
4,5,magni,ysuv,(480)328-2755,grayson.hessel@example.com,http://www.sanford.com/,"72517 Walter Courts Port Thea, AL 19709",3270,2,4,...,eos,1,,,,,,1980-06-12 00:45:45,2007-03-09 23:57:02,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,ea,rogg,996-070-8762,noble.lang@example.com,http://wiza.com/,6242 Johnston Prairie Apt. 580 East Hobartview...,47892,9,2,...,quos,0,,,,,,1972-09-21 02:59:31,1981-03-31 01:33:08,6
96,97,corrupti,jlud,977-336-5665,wolf.sammie@example.org,http://pfannerstillmarks.info/,6331 Jacobson Trafficway Apt. 094 Predovicboro...,29017232,2,2,...,alias,1,,,,,,1973-03-05 03:13:41,1978-04-07 16:40:34,1
97,98,quibusdam,qaoq,+07(6)557093673,abernathy.shyanne@example.com,http://olson.com/,"43111 Katrina Manor Lake Luzchester, SC 56163-...",55,2,9,...,nesciunt,1,,,,,,2013-03-10 05:41:56,2003-03-06 11:42:42,9
98,99,quaerat,exdy,504-382-3287,tillman.cordelia@example.org,http://kunze.biz/,"6210 Moen Meadow Handfurt, VA 07074",2,7,7,...,qui,1,,,,,,2002-07-22 20:22:30,2010-05-12 13:11:44,9
99,100,quas,isfz,(698)027-6294,hayes.bradley@example.com,http://www.bashirian.com/,"3029 Roxane Valley Suite 947 East Haskell, IL ...",5,2,5,...,enim,1,,,,,,2010-03-06 15:22:55,1976-09-13 10:34:48,8

In [ ]:
#tokenize_pii = lambda x: x.str.replace(r'(\d{3})-(\d{4})', r'\1****').str.replace(r'(\w)(\w*)(\w)(@\w+\.\w+)', r'\1*\3****')
#client_df
pii_columns = ['email_address', 'name' , 'address', 'phone_number', 'short_code']
# client_df[pii_columns] = client_df[pii_columns].apply(lambda x: '***' + x[-4:])
client_df[pii_columns] = client_df[pii_columns].applymap(lambda x: x[0:2] + '*' * (len(x) -3) + x[-1:])
client_df

In [ ]:

#add insert timestamp
client_df['insert_time'] = pd.Timestamp.now()
enrollee_df['insert_time'] = pd.Timestamp.now()

In [ ]:
# insert into destination databse
client_df.to_sql('client', con=destination_db, if_exists='replace', index=False)
enrollee_df.to_sql('enrollee_profile', con=destination_db, if_exists='replace', index=False)
print('Client and enrollee data inserted successfully at '+ str(pd.Timestamp.now()))

In [7]:



import pandas as pd
import mysql.connector
import pymysql
from dotenv import load_dotenv
from sqlalchemy import create_engine
import os
load_dotenv()

True

In [8]:
# Connect to the source and destination databases
source_db = create_engine(os.getenv('SOURCE_DB_CONN'))

destination_db = create_engine(os.getenv('DEST_DB_CONN'))

In [12]:
# def enrollee_data_load():

tablename = 'enrollee_profile'
enrollee_df = pd.read_sql_table(tablename, source_db)
enrollee_df

,id,user_id,parent_id,hmo_id,client_id,title_id,other_names,home_address,home_address_state_id,home_phone_number,...,occupation_id,position,preferred_provider_id,preferred_provider_name,preferred_provider_location,profile_picture,accepted_user_agreement,created_at,updated_at,active_status
0,1,7,3789536,94831432,344083690,3178256,ducimus,,9234,595-964-7427,...,1,,34,sed,,avatar.png,0,1980-05-20 04:19:00,2017-11-30 03:35:00,4
1,2,49687,0,63221,236718348,5,tempora,,0,(939)379-6229x8,...,7,,423190614,perspiciatis,,avatar.png,0,1989-04-18 22:21:00,1989-07-11 18:25:00,4
2,3,20790,226,1434511,328299429,0,est,,260738705,(614)754-0540x9,...,9,,13098653,odio,,avatar.png,0,2004-09-27 22:08:00,1970-06-04 02:43:00,6
3,4,5470,55124,1704,4,3140,et,,93,983-178-3981,...,5,,98030,voluptatem,,avatar.png,0,2009-12-11 02:29:00,1985-05-20 23:15:00,8
4,5,0,0,78,165457673,74,et,,31347,(879)643-8927,...,1,,823023039,nihil,,avatar.png,0,2020-08-03 21:55:00,2007-06-29 05:41:00,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,69072348,35309,,36409,355165,quia,,61755,+60(2)145539087,...,6,,0,voluptas,,avatar.png,0,1971-05-06 18:03:00,1972-05-11 12:48:00,6
96,97,86831430,615680,3161061,4424,187,libero,,67155,(937)338-8619,...,8,,89,excepturi,,avatar.png,0,1970-11-03 12:00:00,1980-02-09 08:38:00,2
97,98,566982,2794,435,0,80547,fugiat,,233,+91(2)234988269,...,5,,3,dolorem,,avatar.png,0,2017-07-15 12:16:00,1990-11-23 02:42:00,6
98,99,396,75818,424497048,58581667,2,molestiae,,182,159-012-4552x40,...,0,,88,qui,,avatar.png,0,2014-04-02 17:36:00,2002-11-13 12:54:00,2
99,100,662,2,233,57105518,30457,voluptatem,,2418,(183)399-2521x9,...,4,,722454139,quaerat,,avatar.png,0,1976-11-07 16:25:00,2014-11-25 04:25:00,2

In [13]:
# # mask PII
pii_columns = ['hmo_id' , 'other_names', 'home_phone_number']
enrollee_df[pii_columns] = enrollee_df[pii_columns].applymap(lambda x: x[0:2] + '*' * (len(x) -3) + x[-1:])
enrollee_df
# #add insert timestamp
# enrollee_df['insert_time'] = pd.Timestamp.now()

# # insert into destination database
# enrollee_df.to_sql('enrollee_profile', con=destination_db, if_exists='replace', index=False)

# return enrollee_df
# enrollee_data_load()

# print(f"{len(enrollee_data_load())} rows from client table were inserted successfully at {str(pd.Timestamp.now())}")

,id,user_id,parent_id,hmo_id,client_id,title_id,other_names,home_address,home_address_state_id,home_phone_number,...,occupation_id,position,preferred_provider_id,preferred_provider_name,preferred_provider_location,profile_picture,accepted_user_agreement,created_at,updated_at,active_status
0,1,7,3789536,94*****2,344083690,3178256,du****s,,9234,59*********7,...,1,,34,sed,,avatar.png,0,1980-05-20 04:19:00,2017-11-30 03:35:00,4
1,2,49687,0,63**1,236718348,5,te****a,,0,(9************8,...,7,,423190614,perspiciatis,,avatar.png,0,1989-04-18 22:21:00,1989-07-11 18:25:00,4
2,3,20790,226,14****1,328299429,0,est,,260738705,(6************9,...,9,,13098653,odio,,avatar.png,0,2004-09-27 22:08:00,1970-06-04 02:43:00,6
3,4,5470,55124,17*4,4,3140,ett,,93,98*********1,...,5,,98030,voluptatem,,avatar.png,0,2009-12-11 02:29:00,1985-05-20 23:15:00,8
4,5,0,0,788,165457673,74,ett,,31347,(8**********7,...,1,,823023039,nihil,,avatar.png,0,2020-08-03 21:55:00,2007-06-29 05:41:00,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,69072348,35309,,36409,355165,qu*a,,61755,+6************7,...,6,,0,voluptas,,avatar.png,0,1971-05-06 18:03:00,1972-05-11 12:48:00,6
96,97,86831430,615680,31****1,4424,187,li***o,,67155,(9**********9,...,8,,89,excepturi,,avatar.png,0,1970-11-03 12:00:00,1980-02-09 08:38:00,2
97,98,566982,2794,435,0,80547,fu***t,,233,+9************9,...,5,,3,dolorem,,avatar.png,0,2017-07-15 12:16:00,1990-11-23 02:42:00,6
98,99,396,75818,42******8,58581667,2,mo******e,,182,15************0,...,0,,88,qui,,avatar.png,0,2014-04-02 17:36:00,2002-11-13 12:54:00,2
99,100,662,2,233,57105518,30457,vo*******m,,2418,(1************9,...,4,,722454139,quaerat,,avatar.png,0,1976-11-07 16:25:00,2014-11-25 04:25:00,2